<h1>Coming Soon</h1>


<div class="movies">
  <ul>
    <li>
      <a href="#" data-img-url="images/images-10.jpg" class="lightbox-link">Neighbors 2: Sorority Rising - May 20, 2016</a>
      <a href="#" data-img-url="images/images-7.jpg" class="lightbox-link">X-Men: Apocalypse - May 27, 2016</a>
      <a href="#" data-img-url="images/images-8.jpg" class="lightbox-link">War Craft - June 10, 2016</a>
      <a href="#" data-img-url="images/images-9.jpg" class="lightbox-link">Captain America: Civil War - May 6, 2016 </a>
      <a href="#" data-img-url="images/images-6.jpg" class="lightbox-link">Angry Birds - May 20, 2016</a>
    </li>
  </ul>
</div>

<div class="lightbox-background">
  <div class="lightbox-center">
    <img src="" id="lightbox-pic">
  </div>
</div>

