<h1>Contact Us</h1>

<div class="contact-setup">
  <article>
    <form action="/form-submit" method="post">
      <input type="text" name="email" id="email" placeholder="Your email"><br>
      <input type="text" name="name" id="name" placeholder="Your name"><br>
      <textarea type="text" name="body" id="body" placeholder="Body" cols="30" rows="15">
      </textarea><br>
      <input type="submit" id="submit" value="Submit"></input> 
    </form>
  </article>

  <article>
    <p>Please reach out to us with any questions or comments.</p>
    <p>
      123 Baker Street<br>
      New Moon, Mars 10035
    </p><br>
    
  </article>
</div>