<h1>Cinema Cinema</h1><br><br>

<h3 align="center">We Like to Keep You Updated with the Latest and Greatest Movies in Theathers</h3> 

<h3 align="center">Also Check Our Store for new releases on DVDs</h3>

<h3 align= "center">Check you local theathers for showing time!</h3>
