<h1>Out Now</h1>

<div class="movies">
  <ul>
    <li>
      <a href="#" data-img-url="images/images-5.jpg" class="lightbox-link">The Jungle Book</a>
      <a href="#" data-img-url="images/images-1.jpg" class="lightbox-link">The Huntsman: Winter's War</a>
      <a href="#" data-img-url="images/images-2.jpg" class="lightbox-link">Keanu</a>
      <a href="#" data-img-url="images/images-4.jpg" class="lightbox-link">Zootopia</a>
      <a href="#" data-img-url="images/images-3.jpg" class="lightbox-link">Barbershop: The Next Cut</a>
  </ul>
</div>

<div class="lightbox-background">
  <div class="lightbox-center">
    <img src="" id="lightbox-pic">
  </div>
</div>