<!DOCTYPE html>
<html>
<head>
  <title>Cinema Cinema</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="main.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

 <!--  <div class="banner"> -->
    <nav class="nav-bar">
      <ul>
        <li>
          <a href="/">Home</a>
          <a href="/in_now">Currently Playing</a>
          <a href="/coming_soon">Coming Soon</a>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav><br><br><br><br><br><br>
 <!--  </div> -->
  
  <article>
    <%= yield %>
  </article><br>
  
</body><br><br><br><br>
  <footer>
    <p>&copy 2016</p>
  </footer>
</html>